USE [master]
GO
/****** Object:  Database [Bimser]    Script Date: 17.02.2022 13:16:55 ******/
CREATE DATABASE [Bimser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bimser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bimser.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bimser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bimser_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bimser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bimser]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 17.02.2022 13:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Step] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[RunTime] [datetime] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [Title], [Step], [Detail], [Status], [RunTime]) VALUES (1, N'Control The New Products Are Displayed On Each New Page', N'CloseAdressFocus', N'Adress section closed.', 1, CAST(N'2022-02-17T12:55:31.160' AS DateTime))
INSERT [dbo].[Log] ([ID], [Title], [Step], [Detail], [Status], [RunTime]) VALUES (2, N'Control The New Products Are Displayed On Each New Page', N'Close Driver', N'  Expected: 80
  But was:  60
', 0, CAST(N'2022-02-17T12:55:31.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_CaseRunTime]  DEFAULT (getdate()) FOR [RunTime]
GO
USE [master]
GO
